<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../public/styles.css" />
    <link rel="stylesheet" href="../public/tableStyles.css" />
    <title>About me</title>
  </head>
  <body>
    <header>
      <h1>Let's See My Projects</h1>
      <nav>
        <a class="links" href="../index.html">Home</a>
        <a class="links" href="./projects.html">Projects</a>
        <a class="links" href="./skills.html">Skills</a>
      </nav>
    </header>
    <div class="centralDiv">
      <table>
        <thead>
          <tr>
            <th>Project Name</th>
            <th>Description</th>
            <th>Technologies Used</th>
            <th>Status</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>PharmaMap</td>
            <td>
              A platform where patients can request specific medications by
              submitting their contact information. This system enables
              healthcare providers, pharmacies, and individuals who have the
              requested medicine to reach out directly to the patients
            </td>
            <td>Node.js, Express.js, mongoDB</td>
            <td>Individual project</td>
          </tr>
          <tr>
            <td>coinTex</td>
            <td>
              A modified version of the original game with the same user
              interface but introduces AI features powered by a genetic
              algorithm.
            </td>
            <td>python, genetic algorithm</td>
            <td>Individual project</td>
          </tr>
          <tr>
            <td>Blood Bank</td>
            <td>
              A Windows application featuring a user-friendly interface (GUI)
              that facilitates easy registration for both blood donors and
              seekers. The application also includes administrative
              functionalities to view the blood bank.
            </td>
            <td>C#, GitHub</td>
            <td>Group project</td>
          </tr>
          <tr>
            <td>Elections</td>
            <td>
              A simple projects containg multiple threads its focuses on
              reducing race conditions using several thread safety techniques
            </td>
            <td>C#, GitHub</td>
            <td>Group project</td>
          </tr>
          <tr>
            <td>Student Smart System</td>
            <td>
              A student registration system that helps students register their
              courses smoothly using an AI tool, view their grades, check
              transcript, search for offered courses, and have a general idea
              about the major plan.
            </td>
            <td>
              Node.js, EXpress.js, Sequalize, PostgreSQL, Bootstrap, GitHub
            </td>
            <td>Group project</td>
          </tr>
        </tbody>
      </table>
    </div>
    <footer>
      <p>2024 My Portfolio. All rights reserved.</p>
    </footer>
  </body>
</html>
