<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../public/styles.css" />
    <title>My skills</title>
  </head>
  <body>
    <header>
      <h1>What Am I Skilled At?</h1>
      <nav>
        <a class="links" href="../index.html">Home</a>
        <a class="links" href="./projects.html">Projects</a>
        <a class="links" href="./skills.html">Skills</a>
      </nav>
    </header>
    <div class="textDiv">
      <h2>Soft Skills:</h2>
      <ul>
        <li>Advanced research skills</li>
        <li>Problem-Solving skills</li>
        <li>Time management</li>
        <li>Professional communication</li>
        <li>Teamwork</li>
      </ul>
    </div>
    <div class="textDiv">
      <h2>Hard Skills:</h2>
      <ul>
        <li>
          Backend web development using Node.js, Express.js, and Sequelize
        </li>
        <li>Data querying and database management</li>
        <li>Familiarity with XAMPP, WinSCP, Postman, and GitHub</li>
        <li>Coding using C++, C#, Python, JavaScript, SQL</li>
      </ul>
    </div>
    <footer>
      <p>2024 My Portfolio. All rights reserved.</p>
    </footer>
  </body>
</html>
