table {
  margin: 20px;
  background: #fff;
  border: 3px solid;
  border-radius: 5px;
  border-color: #333;
  color: #333;
}

th,
td {
  padding: 20px;
  text-align: left;
  border-bottom: 1px solid;
  border-color: #beb5b5;
}

th {
  background: #007bff;
}
